<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "fr.zen"
        versionCode = "1" 
        version = "0.1.0">

    <name>Zenbox</name>

    <description>
       Application Zenbox 
    </description>

    <author href="https://www.zen-factory.fr" email="alex.jarnoux@gmail.com">
        Alexandre JARNOUX
    </author>

    
    <feature name="http://api.phonegap.com/1.0/geolocation"/>

    <preference name="phonegap-version" value="2.7.0" />
</widget>
