<!DOCTYPE html>
<html ng-app>
<head>
    <title>Zen Factory</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/zen.css">
</head>
<body ng-controller="UserListCtrl">
	<!-- barre de navigation -->
	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<section class="container">
				<a class="brand" href="/">Zen Factory</a>
				<ul class="nav">
					<li><a href="#/users">Utilisateurs</a></li>
				</ul>
                <div class="navbar-search pull-right">
                    <input ng-model="query" class="search-query" placeholder="Rechercher">
                </div>
			</section>
		</div>
	</header>

	<!-- partie principale -->
	<section class="container">
		<div class="well" ng-repeat="user in users | orderBy:orderProp | filter:query">
			<div class="media">
				<a class="pull-left" href="#">
	    			<img src="{{user.picture}}" class="picture">
	  			</a>
	  			<div class="media-body">
					<h4 class="media-heading">{{user.firstName}} {{user.lastName}}</h4>
					<p>{{user.email}}</p>
				</div>
			</div>
		</div>
	</section>

	<!-- scripts -->
	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="lib/bootstrap-ui/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="lib/holder/holder.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
</body>
</html>
